.HP {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.home {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    background-color: green;
    width: 100%;
}